
#pinnedchat-toolbar {
  -moz-appearance: none;
  transparent: true;
  opacity: 1;
  height: 0;
  margin-top: -24px;
}

#pinnedchats {
  -moz-appearance: none;
  transparent: true;
  height: 0;
  width: 100%;
  opacity: 1.0;
  -moz-box-pack: end;
}

#pinnedchats > hbox {
  width: 100px;
  height: 24px;
  background-color: white;
  border: 1px solid #404040; /* osx splitter color */
  border-bottom: none;
  margin: 0 -1px 0 0;
}

#pinnedchats > hbox > browser {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  overflow:hidden;
}

#pinnedchats > hbox[open="true"] {
  width:200px;
  height:200px;
  margin-top:-200px;
}

